footer.footer
	.container
		.footer-wrapper
			.footer-desc
				.footer__logo
					.footer__logo-img
						img(src="./img/icons/logo-footer.png" alt="logo")
					h4.footer__logo-text KALLYAS
				.footer__copy © Copyright 2019 KALLYAS - Hogash Studio. All rights reserved.
				.footer__partners
					.footer__partners-title Our Partners
					.footer__partners-item
						a(href="#!").footer__partners-link
							img(src="./img/icons/star-footer.png" alt="star")
					.footer__partners-item
						a(href="#!").footer__partners-link
							img(src="./img/icons/star-footer.png" alt="star")
					.footer__partners-item
						a(href="#!").footer__partners-link
							img(src="./img/icons/star-footer.png" alt="star")
					.footer__partners-item
						a(href="#!").footer__partners-link
							img(src="./img/icons/star-footer.png" alt="star")
					.footer__partners-item
						a(href="#!").footer__partners-link
							img(src="./img/icons/star-footer.png" alt="star")

				.footer__socials
					a(href="#!").footer__socials-link.footer__socials--facebook
						i.fab.fa-facebook-square
					a(href="#!").footer__socials-link.footer__socials--google
						i.fab.fa-google
					a(href="#!").footer__socials-link.footer__socials--twitter
						i.fab.fa-twitter
					a(href="#!").footer__socials-link.footer__socials--instagram
						i.fab.fa-instagram


			nav.footer-nav
				.footer-nav__movies
					h4.footer-nav__title Movies & Serials
					ul.footer-nav__items
						li.footer-nav__item
							a(href="#!").footer-nav__link Action
						li.footer-nav__item
							a(href="#!").footer-nav__link Adventure
						li.footer-nav__item
							a(href="#!").footer-nav__link Animation
						li.footer-nav__item
							a(href="#!").footer-nav__link Biography
						li.footer-nav__item
							a(href="#!").footer-nav__link Comedy
						li.footer-nav__item
							a(href="#!").footer-nav__link Crime
						li.footer-nav__item
							a(href="#!").footer-nav__link Documentary
						li.footer-nav__item
							a(href="#!").footer-nav__link Drama
						li.footer-nav__item
							a(href="#!").footer-nav__link Family
						li.footer-nav__item
							a(href="#!").footer-nav__link Fantasy
						li.footer-nav__item
							a(href="#!").footer-nav__link Film Noir
						li.footer-nav__item
							a(href="#!").footer-nav__link History
						li.footer-nav__item
							a(href="#!").footer-nav__link Horror
						li.footer-nav__item
							a(href="#!").footer-nav__link Music
						li.footer-nav__item
							a(href="#!").footer-nav__link Musical
						li.footer-nav__item
							a(href="#!").footer-nav__link Mystery
						li.footer-nav__item
							a(href="#!").footer-nav__link Romance
						li.footer-nav__item
							a(href="#!").footer-nav__link Sci-Fi
						li.footer-nav__item
							a(href="#!").footer-nav__link Short
						li.footer-nav__item
							a(href="#!").footer-nav__link Sport
						li.footer-nav__item
							a(href="#!").footer-nav__link Superhero
						li.footer-nav__item
							a(href="#!").footer-nav__link Thriller
						li.footer-nav__item
							a(href="#!").footer-nav__link War
						li.footer-nav__item
							a(href="#!").footer-nav__link Western
				
				.footer-nav__others
					h4.footer-nav__title Others
					ul.footer-nav__items
						li.footer-nav__item
							a(href="#!").footer-nav__link Home
						li.footer-nav__item
							a(href="#!").footer-nav__link Top Rated Movies
						li.footer-nav__item
							a(href="#!").footer-nav__link Box Office
						li.footer-nav__item
							a(href="#!").footer-nav__link TV
						li.footer-nav__item
							a(href="#!").footer-nav__link Coming Soon
						li.footer-nav__item
							a(href="#!").footer-nav__link Site Index
						li.footer-nav__item
							a(href="#!").footer-nav__link Search
						li.footer-nav__item
							a(href="#!").footer-nav__link In Theaters
						li.footer-nav__item
							a(href="#!").footer-nav__link Contact Us
						li.footer-nav__item
							a(href="#!").footer-nav__link Register
						li.footer-nav__item
							a(href="#!").footer-nav__link News
						li.footer-nav__item
							a(href="#!").footer-nav__link Press Room
						li.footer-nav__item
							a(href="#!").footer-nav__link Advertising
						li.footer-nav__item
							a(href="#!").footer-nav__link Jobs
						li.footer-nav__item
							a(href="#!").footer-nav__link Conditions of Use
						li.footer-nav__item
							a(href="#!").footer-nav__link Privacy Policy
						li.footer-nav__item
							a(href="#!").footer-nav__link Interest-Based Ads

.background#background
