header.header
	.container
		.header--wrapper
			.header-content--wrapper
				.header__info
					.header__badges
						+badges("2012", "ACTION", "ADVENTURE")
					h2.header__title THE AVENGERS
					.header__desc
						| When Thor's evil brother, Loki (Tom Hiddleston), gains access to the unlimited power of the energy cube called the Tesseract, Nick Fury (Samuel L. Jackson), director of S.H.I.E.L.D., initiates a superhero recruitment effort to defeat the unprecedented threat to Earth.
					.header__buttons
						button.button-play-trailer play trailer
						button.button-add add to list
				.header__preview
					img(src="./img/the-avengers-poster.png" alt="The Avengers")
			.header-popular--wrapper
				h4.popular__title POPULAR SERIALS
				.owl-carousel.slider-one.carousel__items
					a(href="#!").carousel__item
						img(src="./img/popular-serials/black-list.jpg" alt="Black List")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/gotham.jpg" alt="Gotham")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/lucifer.jpg" alt="Lucifer")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/prison-break.jpg" alt="Prison Break")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/the-100.jpg" alt="The 100")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/avengers.jpg" alt="avengers")
					a(href="#!").carousel__item
						img(src="./img/popular-serials/the-defenders.jpg" alt="The Defenders")