nav.nav
	.container
		.nav--wrapper
			.nav__logo
				a(href="#!") KALLYAS
			ul.nav__menu
				li.nav__menu-item
					a(href="#!") Homepage
				li.nav__menu-item
					a(href="#!") Serials
				li.nav__menu-item
					a(href="#!") Movies
				li.nav__menu-item
					a(href="#!") Favorites
				li.nav__menu-item
					a(href="#!") My List
			.nav__right-side
				form(action="" method="post" class="search").nav__search
					input(type="search" name="" placeholder="Search..." class="input").nav__search-input
					input(type="submit" name="" value="" class="submit").nav__search-submit
				button.button-login Login
				button.button-sign Sign Up
