.nav-top#nav-top
	.nav-top_wrapper
		a(href="#!").nav__logo KALLYAS
			img(src="./img/icons/logo.png", alt="logo") 
		nav.nav__menu
			ul.nav__items
				li.nav__menu-item
					a(href="#!") Homepage
				li.nav__menu-item
					a(href="movie-page.html") Serials
				li.nav__menu-item
					a(href="#!") Movies
				li.nav__menu-item
					a(href="#!") Favorites
				li.nav__menu-item
					a(href="#!") My List
			form(action="" method="post" class="search").nav__search
				input(type="search" name="" placeholder="Search..." class="input").nav__search-input
				input(type="submit" name="" value="" class="submit").nav__search-submit
			a(href="#login" rel='modal:open').button-login Login
			a(href="#sign-up" rel='modal:open').button-sign Sign Up

	.nav-toggle
		input(type="checkbox" id="burger1").nav-toggle__checkbox
		label(for="burger1").nav-toggle__label#nav-toggle
			span.nav-toggle__line.nav-toggle__top
			span.nav-toggle__line.nav-toggle__center
			span.nav-toggle__line.nav-toggle__bottom



