section.section-articles
	.container
		a(href="#!").adv
			img(src="./img/970x90.png" alt="adv")
		.section-articles--wrapper
			.article-wrapper
				article.article
					.article__img
						img(src="./img/hunter-games-poster.png", alt="hunter games poster")
					.article__content
						.article__title THE HUNGER GAMES: CATCHING FIRE
						.article__text
							p After arriving safely home from their unprecedented victory in the 74th Annual Hunger Games, Katniss Everdeen (Jennifer Lawrence) and Peeta Mellark (Josh Hutcherson) discover that they must do a quick turnaround and begin a Victors Tour. As she and Peeta travel throughout the districts, Katniss senses a rebellion is stirring.
							p However, President Snow (Donald Sutherland) proves that he is still very much in control when word comes of a cruel change in the rules for the upcoming 75th Hunger Games.
						a(href="#!").article__button-continue Continue Reading
			.articles__aside-wrapper
				+articleAsideCard("hunter-game-prev", "How much cost to do a movie like Hunger Games.")
				+articleAsideCard("jenifer-prev", "How Jennifer Lawrence live his life.")
				+articleAsideCard("hunter-game-prev-2", "What’s happend in the first part of the movie.")
				+articleAsideCard("backstage-prev", "See what actors do during the movie in backstage.")

		.news-wrapper
			+newsCard("ssta-news", "“Suicide Squad” voted as “The Best Viewed Movie” for 2016.")
			+newsCard("joker", "Patton Oswalt has a theory about the Joker from “The Dark Knight”.")
			+newsCard("captain-marvel", "“Captain Marvel” hit by online trolls, Disney was ready for them.")
			+newsCard("avengers-news", "“Avengers: Endgame” tickets are already going for hundreds on Ebay.")
			+newsCard("ssta-news", "“Suicide Squad” voted as “The Best Viewed Movie” for 2016.")
			+newsCard("joker", "Patton Oswalt has a theory about the Joker from “The Dark Knight”.")
			+newsCard("captain-marvel", "“Captain Marvel” hit by online trolls, Disney was ready for them.")
			+newsCard("avengers-news", "“Avengers: Endgame” tickets are already going for hundreds on Ebay.")
			+newsCard("ssta-news", "“Suicide Squad” voted as “The Best Viewed Movie” for 2016.")
			+newsCard("joker", "Patton Oswalt has a theory about the Joker from “The Dark Knight”.")
			+newsCard("captain-marvel", "“Captain Marvel” hit by online trolls, Disney was ready for them.")
			+newsCard("avengers-news", "“Avengers: Endgame” tickets are already going for hundreds on Ebay.")
		button.button-add.load-more#news-more load more

