
.sign-up
	.sign-up__header
		.sign-up__title Sign UP
		button.sign-up__close X

	.sign-up__body
		form.sign-up__form
			label(for="email") Email or Username
			input(type="email" id="email" placeholder="your@email.com").sign-up__email
			label(for="password") Password
			input(type="password" id="password" placeholder="Password").sign-up__password

	.sign-up__footer
		label(for="#remember") Remember me
			input(type="checkbox" id="#remember").sign-up__remember
		button.button-sign Sign Up