extends ./../layouts/main.pug

block variables
	- const title = "KALLYAS";

block content

	//- include ../sections/test.pug
	include ../sections/nav.pug
	include ../sections/header.pug
	+sectionFilmRight("('./img/bg-mission-impossible.jpg')", "https://www.youtube.com/embed/wb49-oV0F78", "2018", "ACTION", "ADVENTURE", "MISSION: IMPOSSIBLE", "Ethan Hunt and the IMF team join forces with CIA assassin August Walker to prevent a disaster of epic proportions. Arms dealer John Lark and a group of terrorists known as the Apostles plan to use three plutonium cores for a simultaneous nuclear attack on the.")
	include ../sections/section-trends.pug
	+sectionFilmLeft("('./img/jwf.jpg')", "https://www.youtube.com/embed/vn9mMeWcgoM", "2018", "ACTION", "ADVENTURE", "JURASSIC WORLD: FALLEN KINGDOM", "Three years after the destruction of the Jurassic World theme park, Owen Grady and Claire Dearing return to the island of Isla Nublar to save the remaining dinosaurs from a volcano that's about to erupt. They soon encounter terrifying new breeds of gigantic.")
	+sectionFilmRight("('./img/venom.png')", "https://www.youtube.com/embed/xLCn88bfW1o", "2018", "ACTION", "Sci-Fi", "VENOM", "Journalist Eddie Brock is trying to take down Carlton Drake, the notorious and brilliant founder of the Life Foundation. While investigating one of Drake's experiments, Eddie's body merges with the alien Venom -- leaving him with superhuman strength.")
	include ../sections/section-articles.pug
	include ../sections/footer.pug