extends ./../layouts/main.pug

block variables
	- const title = "The Dark Knight - KALLYAS";

block content
	include ../sections/nav.pug
	include ../sections/section-movie.pug
	include ../sections/footer.pug